.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

.square {
  min-height: 12vw;
  width: 12vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.square img {
    width: 12vw;
    max-height: 12vw;
}

.board {
  width: 96vw;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid black;
}

.inner-square.is-selected {
    background-color: #98FB98;
}

.allowed-move {
    color: #98FB98;
    font-size: 9vw;
}

.brown {
    background-color: #8b4513;
}

.tan {
    background-color: #cd853f;
}
